In [2]:
import pandas as pd
import numpy as np

## Clean caracteristiques csv

In [3]:
for i in range(2006,2022):
    if i==2009:
        delimiter = "\t"
    elif i >= 2019:
        delimiter = ";"
    else:
        delimiter = ","

    df = pd.read_csv(f'./accidents/caracteristiques_{i}.csv', delimiter=delimiter, encoding='latin-1')
    
    # drop adr column
    df.drop('adr', axis=1, inplace=True)

    if i<2019:

        # remove the last zero of dep column
        df['dep'] = df['dep'].apply(lambda x: str(x)[:-1].zfill(2) if str(x) != '2A' and str(x) != '2B' and str(x)[-1]=="0" else str(x))

        
        # if lenght(com) <3 add 0 at the begining
        df['com'] = df['com'].apply(lambda x: str(x).zfill(3) if len(str(x))<3 else str(x))

        # cooncatenate dep and com
        df['com'] = df['dep'] + df['com']

        # if len(com) >5 remove the 2nd car
        df['com'] = df['com'].apply(lambda x: str(x)[:2] + str(x)[3:] if len(str(x))>5 else str(x))

    if i >= 2019:
        # transform an from 4 digit to 2 digit
        df['an'] = df['an'].apply(lambda x: str(x)[-2:])
    
    # compute gps
    df['gps'] = df['dep'].apply(
        lambda x: "M" if "01" <= str(x) <= "95" 
            else "A" if str(x)=="971" or str(x)=="972" 
            else "G" if str(x)=="973" 
            else "R" if str(x)=="974" 
            else "S" if str(x)=="975" 
            else "Y" if str(x)=="976" 
            else "T" if str(x)=="984" 
            else "P" if str(x)=="987" 
            else "W" if str(x)=="986" 
            else "C" if str(x)=="988" 
            else np.nan)

    # reorganize columns
    df = df[['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm', 'col', 'com', 'gps', 'lat', 'long', 'dep']]


    df.to_csv(f'./accidents2/caracteristiques_{i}.csv', index=False)

In [4]:
# open all csv in accidents2 folder and concat them
df = pd.concat([pd.read_csv(f'./accidents2/caracteristiques_{i}.csv') for i in range(2006,2022)], ignore_index=True)
df

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,gps,lat,long,dep
0,200600000001,6,1,4,1545,1,2,2,1.0,3.0,1053,M,NaN,NaN,1
1,200600000002,6,1,6,805,2,2,2,4.0,3.0,1053,M,NaN,NaN,1
2,200600000003,6,1,9,1340,1,2,1,1.0,6.0,1053,M,NaN,NaN,1
3,200600000004,6,1,10,1625,2,2,1,8.0,3.0,1053,M,NaN,NaN,1
4,200600000005,6,1,24,1120,1,1,1,1.0,2.0,1053,M,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034540,202100056514,21,1,1,06:10,3,1,1,5.0,6.0,33021,M,"44,5266190000","-0,1955440000",33
1034541,202100056515,21,1,1,10:20,1,1,1,2.0,6.0,38405,M,"45,3802910000","5,7049140000",38
1034542,202100056516,21,1,1,18:00,3,1,1,2.0,1.0,26064,M,"44,9112100000","5,0196360000",26
1034543,202100056517,21,1,1,10:55,1,1,2,1.0,6.0,33003,M,"44,9542747363","-0,5179211363",33
1034544,202100056518,21,1,2,18:00,3,1,1,3.0,1.0,78423,M,"48,7966700000","2,0505000000",78